.public-container {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.wing-blank {
  padding-left: 10px;
  padding-right: 10px;
}
// @media (max-width: 768px) {
//   .public-container {
//     width: 750px;
//   }
// }
